<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        {{>header}}
        <h1>
        here hello everyone!
        </h1>
        <form>
            <input placeholder="address"><button type="submit ">search

            </button>
        </form>
        <p id="message"></p>
        {{>footer}}
    </body>
     <script src='app.js'></script>
</html>